[defaults]
inventory= ./hosts.yml
# use local hosts file in folder

forks = 3
#limit ansible to connect to 1 device at a time for pretty output
timeout = 20
# increase ssh timeout to 20 seconds for remote connections

host_key_checking = False
# do not worry about rsa fingerprint

retry_files_enabled = False